<!-- slide-in menus -->

<zf-offcanvas position="top" id="menu">
  <a zf-close="" class="close-button">×</a>
  <input type="text" placeholder="Beer name"></input>
</zf-offcanvas>
<div class="grid-frame">
  <div class="grid-block gray">
    <div class="grid-block gray-light small-up-1 medium-up-3">
      <div class="grid-block">
        <div class="grid-content gray-blue">
          <div class="card">
            <a zf-open="menu" class="">Open Off-canvas</a>
            <h1>test grid</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque, nostrum velit possimus, ipsa asperiores! Eligendi provident perspiciatis ea blanditiis, error cumque debitis hic explicabo, harum nam pariatur nesciunt molestiae. Saepe voluptas, recusandae pariatur, doloremque perspiciatis praesentium asperiores quisquam. Ad earum rem labore modi molestiae dignissimos, neque eos officiis quam.</p>
          </div>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-content gray-blue">
          <div class="card">
            <h1>test grid</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque, nostrum velit possimus, ipsa asperiores! Eligendi provident perspiciatis ea blanditiis, error cumque debitis hic explicabo, harum nam pariatur nesciunt molestiae. Saepe voluptas, recusandae pariatur, doloremque perspiciatis praesentium asperiores quisquam. Ad earum rem labore modi molestiae dignissimos, neque eos officiis quam.</p>
          </div>
        </div>
      </div>      
      <div class="grid-block">
        <div class="grid-content gray-blue">
          <div class="card">
            <h1>test grid</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque, nostrum velit possimus, ipsa asperiores! Eligendi provident perspiciatis ea blanditiis, error cumque debitis hic explicabo, harum nam pariatur nesciunt molestiae. Saepe voluptas, recusandae pariatur, doloremque perspiciatis praesentium asperiores quisquam. Ad earum rem labore modi molestiae dignissimos, neque eos officiis quam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>