<div class="container">
  
  <div class="new-beer">
    <h4 class="new-beer-title">New Beer</h4>
  </div>

  <div class="beer-container">
    <div class="beer-list">
      <div class="beer-item" ng-repeat="beer in beers">
        <h2 class="beer-name">{{beer.name}}</h2>
        <h3 class="beer-brewery">{{beer.brewery}}</h3>
        <ul class="beer-rating">
          <li class="beer-rating-star" ng-show="{{beer.rating}} >= 1"></li>
          <li class="beer-rating-no-star" ng-show="{{beer.rating}} < 1"></li>
          <li class="beer-rating-star" ng-show="{{beer.rating}} >= 2"></li>
          <li class="beer-rating-no-star" ng-show="{{beer.rating}} < 2"></li>
          <li class="beer-rating-star" ng-show="{{beer.rating}} >= 3"></li>
          <li class="beer-rating-no-star" ng-show="{{beer.rating}} < 3"></li>
          <li class="beer-rating-star" ng-show="{{beer.rating}} >= 4"></li>
          <li class="beer-rating-no-star" ng-show="{{beer.rating}} < 4"></li>
          <li class="beer-rating-star" ng-show="{{beer.rating}} >= 5"></li>
          <li class="beer-rating-no-star" ng-show="{{beer.rating}} < 5"></li>
        </ul>
        <div class="beer-location">
          <h4 class="beer-location-title">
            The perfect location:
          </h4>
          <p class="beer-location-text">
            {{beer.location}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>