.header {
  @extend %title-bar;
  border-bottom: 1px solid $gray;
  @include grid-content(
    $size: shrink
  );
  .title {
    @extend .left;
  }
  .new-beer {
  }
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.new-beer-search {
  @extend .inline-label;  
  height: 2.1rem;
  @extend .small-12;
  input {
    height: 1rem;
    font-size: 0.75rem;
  }
  .button {
    height: 2.125rem;
    font-size: 0.75rem;
    margin-bottom: 0rem;
  }
}

.new-beer-panel {
  @extend %panel-base;
  @extend .align-center;  
  @include panel-layout(
    $position: top,
    $size: 2.3rem
  );
  @include slide(
    $dir: in,
    $from: top,
    $fade: true,
    $duration: 0.125s,
    $timing: easeIn
  );
  @include slide(
    $dir: out,
    $from: top,
    $duration: 0.125s
  );
}

.app-container {
  // @include grid-frame();
  @include grid-block;
}

.container {
  @include grid-block();  
}

.beer {
  &-container {
    @include grid-block();
  }
  &-list {
    @include grid-block();
    // use gird-layout on the parent block
    @include grid-layout(1);
    @include breakpoint(medium) {
      @include grid-layout(3);
    }
  }
  &-item {
    @include grid-block();
    margin-top: 0.5rem;    
  }
  &-ratings {
    @include grid-content();
    &-star {
      // @include grid-content();
      @extend .small-3;
      padding: 1rem 1rem 0rem -0.25rem;
      background-size: 4.5rem;
      height: 4.5rem;
      width: 4.5rem;
      background-image: url('../img/star.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    &-no-star {
      @include grid-content();
      background-size: 3rem;
      height: 3rem;
      width: 3rem;
      background-image: url('../img/unstar.png');
      background-repeat: no-repeat; 
    }
    &-number {
      text-align: center;
      padding-top: 1.5rem;
      font-size: 1rem;
      font-weight: $heavy-text;      
      color: $gray;
    }
  }  
  &-details {
    @include grid-content();
    border-bottom: 1px solid $gray;
    padding-bottom: 1rem;
  }
}
