.new-beer {
  @include grid-content();
  background-color: $beer-color;
  margin-bottom: 1rem;
  &-title {
    text-align: center;
    padding: 1rem;
  }
}  

.beer {
  &-container {
    @include grid-block();
  }
  &-list {
    @include grid-block();
    @include grid-layout(3);
    @include breakpoint(small) {
      @include grid-layout(1);
    } 
  }
  &-item {
    @include grid-content();
    border-bottom: 0.125rem solid $divider-color;
    margin-top: 1rem;
  }
  &-rating {
    @include grid-block();
    @include grid-layout(5);
    @extend .small-10;
    margin-left: 0;
    &-star {
      @include grid-content();
      background-size: 3rem;
      height: 3rem;
      width: 3rem;
      background-image: url('../img/star.png');
      background-repeat: no-repeat;
    }
    &-no-star {
      @include grid-content();
      background-size: 3rem;
      height: 3rem;
      width: 3rem;
      background-image: url('../img/unstar.png');
      background-repeat: no-repeat; 
    }
  }
}