// global

* {
  font-family: $body-font;
}

.bold {
  font-weight: $heavy-text;
}

// beer

.new-beer {
  &-title {
    color: $white-space;
    font-size: 1.5rem;
    font-weight: $heavy-text;
  }
}

.beer {
  &-name {
    font-size: 1rem;
    font-weight: $heavy-text;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  &-brewery {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: $light-text;
  }
  &-location {
    font-size: 0.85rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    &-title {
      font-size: 0.5rem;
      font-weight: $light-text;
    }
    &-text {
      font-size: 1.25rem;
    }
  }
}